header {
    border: solid;
    width: 100%;
    text-align: center;
}
.cont {
    display: flex;
    justify-content: space-around;
}
.anch-plus {
    border: solid;
    width: 75%;
}
.anch-menos {
    border: solid;
    width: 25%;
}
p {
    width: 100%;
}
body {
    background: Linear-gradient(45deg, #A531DC 10%, #4300B1 100%);
    color: white;
}